<nav class="navbar" role="navigation">
<div class="nav-ctr">
    <div class="navbar-logo-ctr">
        <svg class="navbar-logo" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.89 221.06"><title>Logo</title><path d="M74.06,183.26a73.93,73.93,0,0,1-22-3.32A72.6,72.6,0,0,1,.5,110.09,73.66,73.66,0,0,1,114.72,48.61l1.25.83-3.73,5.64L111,54.25A66.9,66.9,0,0,0,7.26,110.09a65.88,65.88,0,0,0,46.83,63.39,67,67,0,0,0,20,3h35.32V121.58h6.75v61.68Z" transform="translate(-0.5 -36.44)"/><polygon points="114.67 221.06 196.7 0 201.4 0 255.89 146.64 248.68 146.64 199.05 13.08 121.88 221.06 114.67 221.06"/></svg>
    </div>
</div>
</nav>