<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/universal.css">
    <link rel="stylesheet" href="css/login-header.css">
    <link rel="stylesheet" href="css/iot.css">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <title>IOT Monitoring</title>

</head>
<body>
    <header>
        <% include ../partials/login-header %>
    </header>
    <div class="container">
        <div class="copy-ctr">
            <h1 class=copy-title>IoT Monitoring Dashboard</h1>
            <p class="copy-indication-txt">Registered IoT devices:</p>
        </div>
        <hr>

        <div class="iot-devices-ctr" id="iot-devices-ctr">
            <div class="iot-device">
                <div class="iot-dev-name-ctr">
                    <span class="iot-dev-name">Garden Monitoring</span>
                </div>
                <div class="iot-dev-id-ctr">
                    <div class="iot-dev-id">#826602</div>
                </div>
                <div class="connection-status-ctr">
                    <div class="connection-status-circle"></div><div class="connection-status">offline</div>
                </div>
            </div>
        </div>
                <!--<div class="iot-device">
                <div class="iot-dev-name-ctr">
                    <span class="iot-dev-name">Home Monitoring</span>
                </div>
                <div class="iot-dev-id-ctr">
                    <div class="iot-dev-id">#826601</div>
                </div>
                <div class="connection-status-ctr">
                    <div class="connection-status-circle online-connection-status-circle"></div><div class="connection-status">online</div>
                </div>
            </div>-->
    </div>
        

    <script src="js/dom.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/iot.js"></script>
</body>
    <!--WARNING: TODO: UODBCCFANIWER-->
</html>