<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Sequences Menu</title>

    <link rel="stylesheet" href="css/universal.css">
    <link rel="stylesheet" href="css/workspace-header.css">
    <link rel="stylesheet" href="css/workspace-sidebar.css">
    <link rel="stylesheet" href="css/task-sequences-menu.css">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="sub-body" id="sub-body">
<div class="sidebar-ctr" id="sidebar-ctr">
</div>
<div class="wrapper" id="wrapper">
    <div class="inner" id="inner">
        <header>
            <% include ../partials/workspace-header %>
        </header>
        <div class="container">
            <div class="menu-container">
                <div class="meta-data-ctr">
                    <div class="page-name-ctr">
                        <h2 class="page-name">Your Task Sequences</h2>
                    </div>
                    <div class="new-ts-btn-ctr">
                        <button id="new-ts-btn">+</button>
                    </div>
                </div>
                <div class="ts-container" id="ts-container"></div>
            </div>
        </div>
    </div>
</div>
</div>


    <script src="js/ajax.js"></script>
    <script src="js/dom.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/workspace-sidebar.js"></script>
    <script src="js/task-sequences-menu.js"></script>
</body>
</html>

