<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTS Main Menu</title>

    <link rel="stylesheet" href="css/universal.css">
    <link rel="stylesheet" href="css/tts-main-menu.css">
</head>
<body>
    <div class="container">
        <div class="menu-container">
            <div class="meta-data-ctr">
                <div class="page-name-ctr">
                    <h2 class="page-name">Your TTSs</h2>
                </div>
                <div class="new-tts-btn-ctr">
                    <button id="new-tts-btn">+</button>
                </div>
            </div>
            <div class="tts-container" id="tts-container">
                <!--<div class="tts">
                    <div class="tts-title-ctr">
                        <h4 class="tts-title">Morning Routine</h4>
                    </div>
                    <div class="tts-edit-btn-ctr">
                        <button src="" class="tts-edit-icon">e</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <script src="js/ajax.js"></script>
    <script src="js/dom.js"></script>
    <script src="js/tts-main-menu.js"></script>
</body>
</html>

