

.container{
    width:100%;
    padding: 20px;

    display: flex;

    justify-content: center;
}

.content-container{
    width:650px;

    background-color: #ffffff;

    display:flex;
    flex-wrap: wrap;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 2px;
    overflow:hidden;
}

.tabs-container{
    width:100%;

    display:grid;
    grid-template-columns: 3(1fr);
}

.tab{
    width:100%;

    padding: 17px 0;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;

    letter-spacing: 0.045em;

    cursor: pointer;

    color:#070707;
    text-transform: uppercase;
    font-weight: 700;

    display:flex;
    justify-content: center;

    background-color: #fafbfc; 
}

.tab span{
    text-align: center;
}

#login-tab{
    grid-column: 1;
    grid-row: 1
}

#signup-tab{
    grid-column: 2;
    grid-row: 1;
}

#promocode-tab{
    grid-column: 3;
    grid-row: 1;
}

#signup-tab, #promocode-tab{
    border-left:rgba(0, 0, 0, 0.1) 1px solid;
}

.login-box{
    width:100%;

    padding:10px;
}

.login-box .input-field{
    width:100%;
    padding:10px 20px;
}


