body{
    background-color: whitesmoke;
}

.container{
    width:100%;

    padding: 25px;

    display: flex;

    justify-content: center;


}

.content-container{
    width:650px;

    background-color: #ffffff;

    display:flex;
    flex-wrap: wrap;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 2px;
    overflow:hidden;
}

.tabs-container{
    width:100%;

    display:grid;
    grid-template-columns: 3(1fr);
}

.tab{
    width:100%;

    padding: 17px 0;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;

    letter-spacing: 0.045em;

    cursor: pointer;

    color:#070707;
    text-transform: uppercase;

    display:flex;
    justify-content: center;

    background-color: #fafbfc; 
}

.tab span{
    text-align: center;
}

.selected-tab{
    border-bottom:none;
    background-color: white;
    color:black;
}

#login-tab{
    grid-column: 1;
    grid-row: 1
}

#signup-tab{
    grid-column: 2;
    grid-row: 1;
}

#promocode-tab{
    grid-column: 3;
    grid-row: 1;
}

#signup-tab, #promocode-tab{
    border-left:rgba(0, 0, 0, 0.1) 1px solid;
}

.login-box{
    width:100%;

    padding:10px 15px;
    padding:30px;
}

.login-page-title{
    margin:0;

    font-size: 30px;
    font-weight:500;
}

.input-field{
    border: 1px gray solid;
    width:100%;
    height:44px;
    padding:0px 15px;

    font-size:14px;

    border-radius:3px;

    margin-top:20px;

    font-weight:500;
}

.input-field:focus{
    outline: none;

    border-color: red;
}

.dbl-field-ctr{
    display:grid;
    grid-template-columns: 2(1fr);
    grid-column-gap:20px;
}

.dbl-field-left{
    grid-column: 1;
    grid-row:1;
}

.dbl-field-right{
    grid-column: 2;
    grid-row:1;
}

#pass-input-field{
    margin-top:20px;
}

.submit-btn{
    height:44px;
    margin-top: 20px;
    width:100%;

    border:0;

    border-radius:3px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight:600;
    background-color:red;
}

.submit-btn:focus{
    outline:none;
}

.forgot-pass-btn-ctr{
    display:flex;
    
    justify-content: center;
}

#forgot-pass-btn{
    margin-top:18px;

    border:none;
    background:none;

    color:red;
    font-size:16px;
    font-weight:600;

    cursor: pointer;
}

#forgot-pass-btn:focus{
    outline:none;
}

.popup{
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;/* Specify a stack order in case you're using a different order for other elements */

    justify-content: center;
}

.overlay{
    display: none; /* Hidden by default */
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);/* Black background with opacity */
}

.popup-content {
    padding:38px;
    padding-top: 50px;

    width:100%;

    display:flex;

    align-items: center;
    justify-content: center;

}

.forgot-pass-box{
    position:relative;

    width:670px;

    background-color: #ffffff;

    display:flex;
    flex-wrap: wrap;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 2px;
    /* overflow:hidden; */

    z-index: 3;
}

.forgot-pass-text-ctr{
    padding:40px 50px 30px 50px;
}

.forgot-pass-box h2, p{
    margin:0;
}

.forgot-pass-box p{
    margin-top:20px;
}
.exit-popup-btn{
    position:absolute;

    border:none;
    background:none;
    color:white;
    font-size:28px;
    font-weight:500;
    right:-20px;
    top:-32px;

    cursor: pointer;
}


.reset-pass-form-ctr{
    background-color:#fafbfc;
    padding:0 50px;
    padding-bottom:30px;
    padding-top:10px;
    width:100%;
}

@media (max-width: 46.24em) {
    .dbl-field-ctr{
        display:flex;
        flex-wrap: wrap;
    }
}