.task{
    width:100%;
    background-color:lightblue;
    border: 1px rgb(0, 25, 58) solid;

/*     -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
 */
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.details-ctr{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding:20px 20px;
}

.subtask-ctr{
    padding:7px;
    background-color: lightgreen;
}

.cut-task{
    background-color: rgb(157, 174, 180);
}

.separator{
    width: 100%;
}

.share-user-input{
    width:60px;
}

.list-shared-users{
    margin:0;
    font-size:15px;
}
