body {
    background-color: whitesmoke;
}

.container {
    width:100%;

    padding: 20px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.details-ctr {
    width: 100%;
    max-width:400px;
    
    background-color:white; 

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 2px;
    overflow:hidden;

    padding:20px;

    margin-bottom:55px;
}

.details-ctr::placeholder{
    color:gray;
}

.meta-data-ctr {
    display:flex;
    justify-content: space-between;
}



.tts-title-ctr{

}

.tts-title{
    border:none;

    border-bottom: gray 1px solid;
    color: black;

    font-size: 1.1rem;
    font-weight: 500;
}

.tts-title:active{
    outline:none;
}

.tts-title:focus{
    outline:none;

    border-bottom:red 1px solid;
}

.duration-delete-ctr{
    display:flex;
}

.duration-ctr{
    
}

.numbers-ctr{
    color:black;
    /* font-weight:300; */
}

.hidden-timer-input{
/*     position:absolute;
    height:0;
    width:0; */
    border:none;
}

.task-timer-being-edited{
    color:red;
}


.digit{
    font-size: 20px;
}

.digit-lbl {

}

.delete-tts-ctr{

}

.delete-tts-btn {
    border:none;
    color: red;
}


.task-ctr{
    padding-top: 24px;
}



.task{
    border:1px gray solid;
    padding: 5px 0px 5px 8px;

    display:flex;
    justify-content: space-between;

    margin-top: 8px;

    border-radius: 3px;
}

.task:first-child{
    margin-top:0px;
}

.left-ctr{
    display:flex;
    flex-direction: column;
}
.task-title-ctr{
    display: inline;
}
.task-title{
    font-size:16px;
    width:230px;

    font-weight:600;

    margin:0;
    margin-bottom:10px;
    border:0;

    border-bottom: 1px solid lightgray;

}

.task-title:focus{
    outline:none;
    border-bottom: 1px solid red;
}

.task-desc-ctr{

}
.task-desc{
    margin:0;
    border:none;
    border-bottom: 1px solid lightgray;
    width: 230px;
    resize: none;
}

.task-desc:focus{
    outline:none;
    border-bottom: 1px solid red;

    
}

.right-ctr{
    width:20px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
    position:relative;
}

#move-icon{
    width:20px;
}

#new-task-btn{
    /* box-sizing: border-box; */

    background-color:red;

    display:flex;
    align-items: center;
    justify-content: center;

    border:none;
    border-radius:0;

    padding:15px;

    position: fixed;
    bottom:0px;
   /*  right:18px; */

    width:100%;
}

.delete-btn-ctr{
    position:absolute;

    bottom:0;
}