.sub-body{
    overflow: hidden;
}

.wrapper{
    width: 100%;
}

.wrapper-sidebar-mobile-friendly{
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper-moving{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.inner{
    float: right;
    width: 100%;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.sidebar-ctr{
    height:100%;
    width:60px;
    background-color:rgb(35, 35, 61);
    position: fixed;
    left: -256px;
    width: 256px;

    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}

.sidebar-ctr li{
    color:rgb(124, 0, 0);
    font-weight: 800;
    font-size:25px;
}

.open-sidebar{
    left:0;
}

.inner-moved-right{
    margin-right: -256px;
}

.innerSidebar{
    width:100%;
}

.sidebar-header{
    width:100%;
}

.inner-sidebar .sidebar-item{
    color:rgb(230, 230, 230);
    font-size:17px;
    font-weight:450;
    padding:15px 0px 15px 15px;
    cursor: pointer;
}

.inner-sidebar .sidebar-item:hover{
    background-color:rgb(51, 51, 88);
    color:white;
}

.inner-sidebar .sidebar-item:active{
    background-color:rgb(51, 51, 88);
    color:white;
}

.inner-sidebar .sidebar-item-text{
    color:inherit;
    font-weight:inherit;
}